<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>217510983426-f79qj50kps6jbe4pp4kmsgll9l2ld3ao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217510983426-f79qj50kps6jbe4pp4kmsgll9l2ld3ao</string>
	<key>API_KEY</key>
	<string>AIzaSyDexHAarSRRL4Za7ZyDL34TizeKJx7RovA</string>
	<key>GCM_SENDER_ID</key>
	<string>217510983426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.ryu-yeon.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-91222</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-91222.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217510983426:ios:5b94e61b4ff52e7eb1741b</string>
</dict>
</plist>